@media screen and (max-width:550px){
 * {
     font-size: 12px;
 }
nav { 
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    }
nav ul li {
     font-size: .9em;
     line-height: 2em;
     width: 7.1875em;
 }
 main {
    float: none;
    width: 100%;
    height : auto;
    }
#gallery {
    float: none; 
    width: 100%;
    height : auto; 
    overflow-x: scroll; 
    overflow-y: hidden; 
    white-space: nowrap; 
    margin-bottom: 0.9375em; 
    }
#gallery a {
    float: none;
    width: 30%;
    margin: 2%; 
    }
#gallery a:nth-child(n+2) {
    margin-left: 0;
    }
}